.champs {
    margin-top: 50px;
}


.contentGlobal {
    margin: 0 auto;
    margin-top:10%;
    width: 30%;
    border: 1px solid rgb(10, 10, 190);
    border-radius: 20px;
}

.form-horizontal {
    margin: 50px;
}

.btn-default{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border-color: rgba(209, 209, 15, 0.973);
    width:150px;
}
